/var/cache/*
/var/log/*
/vendor/
/.settings/
/.buildpath
/.project
/.env.local
/.env.test


###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
/database.sql

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
/database.sql.zip
