@charset "UTF-8";

/* 
  Tipitaka stylesheet for Unicode Latin encoding. 
*/

body { 
  font-family: "Times Ext Roman", "Indic Times", "Doulos SIL", Tahoma, "Arial Unicode MS", Gentium;
  background: white;
}

.note {color: blue}
.bld {font-weight: bold; }
.paranum {font-weight: bold; }
.match {background-color: yellow}

p {
  border-top: 0in; border-bottom: 0in;
  padding-top: 0in; padding-bottom: 0in;
  margin-top: 0in; margin-bottom: 0.5cm;
}

.indent { font-size: 12pt; text-indent: 2em; margin-left: 3em;}

.bodytext { font-size: 12pt; text-indent: 2em;}

.hangnum { font-size: 12pt; text-indent: 2em;}

/* Namo tassa, and nitthita -- no unique structural distinction */
.centre { font-size: 12pt; text-align:center;}

.unindented { font-size: 12pt;}

.book, .vagga { font-size: 21pt; text-align:center; font-weight: bold;}

.chapter { font-size: 18pt; text-align:center; font-weight: bold;}

.nikaya { font-size: 24pt; text-align:center; font-weight: bold;}

.title { font-size: 12pt; text-align:center; font-weight: bold;}

.subhead { font-size: 12pt; text-align:center; font-weight: bold;}

.subsubhead { font-size: 12pt; text-align:center; font-weight: bold;}

/* Gatha line 1 */
.gatha1 { font-size: 12pt; margin-bottom: 0em; margin-left: 4em;}

/* Gatha line 2 */
.gatha2 { font-size: 12pt; margin-bottom: 0em; margin-left: 4em;}

/* Gatha line 3 */
.gatha3 { font-size: 12pt; margin-bottom: 0em; margin-left: 4em;}

/* Gatha last line */
.gathalast { font-size: 12pt; margin-bottom: 0.5cm; margin-left: 4em;}

table.bordercell tr td
{
	border-width: 1px;
	border-style: solid;
	padding: 4px 6px;	
}

table.bordercell
{
	border-collapse: collapse;
	border-spacing: 0;
	border-spacing: 0px 0px;
}

.alert
{
	color: red;
}

.twa {
  display: inline-block;
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
  background-image: url("icons.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 2000% 100%; }

.twa-lg {
  height: 1.5em;
  width: 1.5em;
  margin: 0 0.0665em 0 0.133em;
  vertical-align: -0.3em; }

.twa-united-kingdom-flag {
  background-position: 0% 0; }

.twa-russia-flag {
  background-position: 5.2632% 0; }

.twa-bookmark {
  background-position: 10.5263% 0; }

.twa-closed-lock-with-key {
  background-position: 15.7895% 0; }

.twa-key {
  background-position: 21.0526% 0; }

.twa-input-latin-letters {
  background-position: 26.3158% 0; }

.twa-right-pointing-magnifying-glass {
  background-position: 31.5789% 0; }

.twa-open-book {
  background-position: 36.8421% 0; }

.twa-house {
  background-position: 42.1053% 0; }


.twa-books {
  background-position: 47.3684% 0; }

.twa-green-book {
  background-position: 52.6316% 0; }

.twa-label {
  background-position: 57.8947% 0; }

.twa-bookmark-tabs {
  background-position: 63.1579% 0; }

.twa-bear {
  background-position: 68.4211% 0; }

.twa-speech-balloon {
  background-position: 73.6842% 0; }

.twa-busts-in-silhouette {
  background-position: 78.9474% 0; }

.twa-bar-chart {
  background-position: 84.2105% 0; }

.twa-door {
  background-position: 89.4737% 0; }

.twa-globe-with-meridians {
  background-position: 94.7368% 0; }

.twa-information {
	background-position: 100% 0;
}
      
.collLevel1,
.collLevel2,
.collLevel3,
.collLevel4,
.collLevel5,
.collLevel6
{
	list-style-type: square;	
}      

li.collLevel1::marker {
  color: Navy;
  font-size: 16pt;
}

li.collLevel2::marker {
  color: Blue;
  font-size: 16pt;
}

li.collLevel3::marker {
  color: Teal;
  font-size: 16pt;  
}

li.collLevel4::marker {
  color: DarkTurquoise;
  font-size: 16pt;  
}

li.collLevel5::marker {
  color: SeaGreen;
  font-size: 16pt;  
}

li.collLevel6::marker {
  color: SpringGreen;
  font-size: 16pt;  
}

.spoiler {
  display: none;
}

.show {
  display: none; 
}

.hide:target + .show {
  display: inline; 
}

.hide:target {
  display: none; 
}

.hide:target ~ .spoiler {
  display: inline;
}

.btn
{
font-size:14pt;
}
