@charset "UTF-8";

/* 
  Tipitaka stylesheet for Unicode Latin encoding. 
*/

body { 
  font-family: "Times Ext Roman", "Indic Times", "Doulos SIL", Tahoma, "Arial Unicode MS", Gentium;
  background: white;
}

span {}
.note {color: blue}
.bld {font-weight: bold; }
.paranum {font-weight: bold; }
.match {background-color: yellow}

p {
  border-top: 0in; border-bottom: 0in;
  padding-top: 0in; padding-bottom: 0in;
  margin-top: 0in; margin-bottom: 0.5cm;
}

.indent { font-size: 12pt; text-indent: 2em; margin-left: 3em;}

.bodytext { font-size: 12pt; text-indent: 2em;}

.hangnum { font-size: 12pt; text-indent: 2em;}

/* Namo tassa, and nitthita -- no unique structural distinction */
.centre { font-size: 12pt; text-align:center;}

.unindented { font-size: 12pt;}

.book, .vagga { font-size: 21pt; text-align:center; font-weight: bold;}

.chapter { font-size: 18pt; text-align:center; font-weight: bold;}

.nikaya { font-size: 24pt; text-align:center; font-weight: bold;}

.title { font-size: 12pt; text-align:center; font-weight: bold;}

.subhead { font-size: 12pt; text-align:center; font-weight: bold;}

.subsubhead { font-size: 12pt; text-align:center; font-weight: bold;}

/* Gatha line 1 */
.gatha1 { font-size: 12pt; margin-bottom: 0em; margin-left: 4em;}

/* Gatha line 2 */
.gatha2 { font-size: 12pt; margin-bottom: 0em; margin-left: 4em;}

/* Gatha line 3 */
.gatha3 { font-size: 12pt; margin-bottom: 0em; margin-left: 4em;}

/* Gatha last line */
.gathalast { font-size: 12pt; margin-bottom: 0.5cm; margin-left: 4em;}

table.bordercell tr td
{
	border-width: 1px;
	border-style: solid;
	padding: 4px 6px;	
}

table.bordercell
{
	border-collapse: collapse;
	border-spacing: 0;
	border-spacing: 0px 0px;
}

.alert
{
	color: red;
}

.twa {
  display: inline-block;
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1em 1em; }

.twa-lg {
  height: 1.5em;
  width: 1.5em;
  margin: 0 0.0665em 0 0.133em;
  vertical-align: -0.3em;
  background-size: 1.5em 1.5em; }
 
.twa-united-kingdom-flag {
  background-image: url("https://cdnjs.cloudflare.com/ajax/libs/twemoji/16.0.1/svg/1f1ec-1f1e7.svg"); }
  
.twa-russia-flag {
  background-image: url("https://cdnjs.cloudflare.com/ajax/libs/twemoji/16.0.1/svg/1f1f7-1f1fa.svg"); }  

.twa-bookmark {
  background-image: url("https://cdnjs.cloudflare.com/ajax/libs/twemoji/16.0.1/svg/1f516.svg"); }

.twa-closed-lock-with-key {
  background-image: url("https://cdnjs.cloudflare.com/ajax/libs/twemoji/16.0.1/svg/1f510.svg"); }
  
.twa-key {
  background-image: url("https://cdnjs.cloudflare.com/ajax/libs/twemoji/16.0.1/svg/1f511.svg"); }
    
.twa-input-latin-letters {
  background-image: url("https://cdnjs.cloudflare.com/ajax/libs/twemoji/16.0.1/svg/1f524.svg"); }

.twa-right-pointing-magnifying-glass {
  background-image: url("https://cdnjs.cloudflare.com/ajax/libs/twemoji/16.0.1/svg/1f50e.svg"); }
  
.twa-open-book {
  background-image: url("https://cdnjs.cloudflare.com/ajax/libs/twemoji/16.0.1/svg/1f4d6.svg"); }

.twa-house {
  background-image: url("https://cdnjs.cloudflare.com/ajax/libs/twemoji/16.0.1/svg/1f3e0.svg"); }


.twa-books {
  background-image: url("https://cdnjs.cloudflare.com/ajax/libs/twemoji/16.0.1/svg/1f4da.svg"); }
  
.twa-green-book {
  background-image: url("https://cdnjs.cloudflare.com/ajax/libs/twemoji/16.0.1/svg/1f4d7.svg"); }
  
.twa-label {
  background-image: url("https://cdnjs.cloudflare.com/ajax/libs/twemoji/16.0.1/svg/1f3f7.svg"); }

.twa-bookmark-tabs {
  background-image: url("https://cdnjs.cloudflare.com/ajax/libs/twemoji/16.0.1/svg/1f4d1.svg"); }
    
.twa-bear {
  background-image: url("https://cdnjs.cloudflare.com/ajax/libs/twemoji/16.0.1/svg/1f43b.svg"); }
      
  
    
      
    
      