index:
    path: /
    controller: App\Controller\DefaultController::default

full_toc:
    path: /toc/full
    controller: App\Controller\TOCController::fullToc

full_toc_node:
    path: /toc/full/{id}
    controller: App\Controller\TOCController::fullTocListById
    requirements:
        id: '\d+'
        
#that should be /node/{id}/pali but deliberately made this way to disallow it in robots.txt
view_node:
    path: /node/pali/{id}
    controller: App\Controller\ViewController::nodeView
    requirements:
        id: '\d+'
        
view_paragraph:
    path: /p/{id}
    controller: App\Controller\ViewController::paragraphViewOld
    requirements:
        id: '\d+'
        
bookmarks:
    path: /bookmarks
    controller: App\Controller\BookmarksController::list

#that should be /node/{id}/bookmark but deliberately made this way to disallow it in robots.txt
bookmark_node_add:
    path: /node/bookmark/{id}
    controller: App\Controller\BookmarksController::addNode
    requirements:
        id: '\d+'
        
bookmark_paragraph_add:
    path: /p/{id}/bookmark
    controller: App\Controller\BookmarksController::addParagraph
    requirements:
        id: '\d+'
            
bookmark_node_remove:
    path: /node/bookmark/{id}/remove
    controller: App\Controller\BookmarksController::removeNode
    requirements:
        id: '\d+'
        
bookmark_paragraph_remove:
    path: /p/{id}/bookmark/remove
    controller: App\Controller\BookmarksController::removeParagraph    
    requirements:
        id: '\d+'
            
search:
    path: /search
    controller: App\Controller\SearchController::search

dictionary:
    path: /dictionary
    controller: App\Controller\DictionaryController::dictionary

term:
    path: /term/{word}
    controller: App\Controller\DictionaryController::term
    
useredit:
    path: /user/{id}/edit
    controller: App\Controller\UserController::edit
    requirements:
        id: '\d+'
           
app_login:
   path: /user/login
   controller: App\Controller\UserController::login
   
app_logout:
   path: /user/logout
   controller: App\Controller\UserController::logout

paragraph_split:
   path: /p/{id}/split
   controller: App\Controller\TranslateController::paragraphSplit
   requirements:
        id: '\d+' 
           
translation_edit:
   path: /translation/edit
   controller: App\Controller\TranslateController::translationEdit
         
quote_pali:
   path: /quote/pali/{paragraphids}
   controller: App\Controller\QuoteController::quotePali
     
quote_sentencetranslation:
   path: /quote/sentencetranslation/{translationids}
   controller: App\Controller\QuoteController::quoteSentenceTranslation
   
quote_code:
   path: /quote/code
   controller: App\Controller\QuoteController::getCode
   
quote_sentences:
   path: /quote/sentenceid/{sentenceid}/{length}
   controller: App\Controller\QuoteController::quoteSentences 
   requirements:
        sentenceid: '\d+'
        length: '\d+'
                   
#that should be /node/{id}/table but deliberately made this way to disallow other paths in robots.txt   
table_view:
   path: /node/table/{id}
   controller: App\Controller\ViewController::tableViewOld
   requirements:
        id: '\d+' 
        
node_split:
   path: /node/{nodeid}/split
   controller: App\Controller\TranslateController::nodeSplit
   requirements:
        nodeid: '\d+' 
           
translation_import:
   path: /translation/import/source/{sourceid}/node/{nodeid}
   controller: App\Controller\TranslateController::translationImport
   requirements:
        nodeid: '\d+' 
        sourceid: '\d+' 
        
join:
   path: /sentenceid/{sentenceid}/join
   controller: App\Controller\TranslateController::join
   requirements:
        sentenceid: '\d+' 
                
shiftdown:
   path: /translationid/{translationid}/shiftdown  
   controller: App\Controller\TranslateController::shiftDown
   
shiftup:
   path: /translationid/{translationid}/shiftup
   controller: App\Controller\TranslateController::shiftUp
        
sources_list:
   path: /sources/list
   controller: App\Controller\SourcesController::list     
   
user:
   path: /user
   controller: App\Controller\UserController::comments
     
source_edit:
   path: /source/edit
   controller: App\Controller\SourcesController::edit
   
comments:
   path: /comments/sentenceid/{sentenceid}
   controller: App\Controller\CommentsController::fromOldUrl
   requirements:
        sentenceid: '\d+' 
              
comment_delete:
   path: /comment/delete/{commentid}
   controller: App\Controller\CommentsController::commentDelete
   requirements:
        commentid: '\d+' 
           
comments_feed:
   path: /feeds/comments.xml
   controller: App\Controller\CommentsController::commentsFeed
   
translations_feed:
   path: /feeds/translations.xml
   controller: App\Controller\TranslateController::translationsFeed
   
setlocale:
   path: /locale/{locale}/set
   controller: App\Controller\DefaultController::setlocale
   requirements:
        locale: '(en|ru)' 
   
node_names:
   path: /node/{nodeid}/names
   controller: App\Controller\TOCController::listNodeNames
   requirements:
        nodeid: '\d+' 
   
node_name_edit:
   path: /node/name/edit
   controller: App\Controller\TOCController::editNodeName
      
toc:
    path: /toc
    controller: App\Controller\TOCController::translationToc

translation_toc_node:
    path: /toc/translations/{id}
    controller: App\Controller\TOCController::fromOldUrl
    requirements:
        id: '\d+' 
        
node_edit:
    path: /node/{nodeid}/edit
    controller: App\Controller\TOCController::nodeEdit
    requirements:
        nodeid: '\d+' 
            
table_enable:
   path: /node/{nodeid}/table/enable
   controller: App\Controller\TOCController::enableTableView
   requirements:
        nodeid: '\d+' 
   
translation_view:
   path: /node/translation/{id}
   controller: App\Controller\ViewController::translationViewOld
   requirements:
        id: '\d+' 
              
node_tags:
   path: /node/tags/{nodeid}
   controller: App\Controller\TOCController::listNodeTags  
   requirements:
        nodeid: '\d+' 
           
tag_edit:
   path: /tag/edit
   controller: App\Controller\TagsController::editTag
    
node_tag_remove:
   path: /node/{nodeid}/tag/{tagid}/remove
   controller: App\Controller\TOCController::removeNodeTag
   requirements:
        nodeid: '\d+'
        tagid: '\d+' 

redir_toc_tags_list:
    path: /toc/tags  
    controller: App\Controller\TagsController::tagsRedirect     
    condition: "request.query.get('tagid')!=null or request.query.get('tagtypeid')!=null"

toc_tag_types_list:
   path: /toc/tags
   controller: App\Controller\TagsController::tocTagTypesList
           
toc_tags_list:
   path: /toc/tags/type/{tagtypeid}
   controller: App\Controller\TagsController::tocTagsList
   requirements:
        tagtypeid: '-?\d+'

toc_tag_nodes_list:
   path: /toc/tags/{tagid}
   controller: App\Controller\TagsController::tocTagNodesList
   requirements:
        tagid: '\d+'
           
   
ajax_translation_update:
   path: /ajax/translation/update
   controller: App\Controller\TranslateController::ajaxTranslationUpdate
   
ajax_translation_add:
   path: /ajax/translation/add
   controller: App\Controller\TranslateController::ajaxTranslationAdd
   
redir_collections:
    path: /toc/collections  
    controller: App\Controller\CollectionController::collectionRedirect     
    condition: "request.query.get('itemid')!=null"
   
collections_list:
   path: /toc/collections
   controller: App\Controller\CollectionController::list
   
collection_item_edit:
   path: /toc/collection/item/edit
   controller: App\Controller\CollectionController::editItem

collection_item_names:
   path: /toc/collection/item/{itemid}/names
   controller: App\Controller\CollectionController::namesList
   requirements:
        itemid: '\d+' 
        
collection_item_name_edit:
   path: /toc/collection/item/name/edit
   controller: App\Controller\CollectionController::nameEdit
   
collection_edit:
   path: /toc/collection/edit
   controller: App\Controller\CollectionController::editCollection   

collection_folder_edit:
   path: /toc/collection/folder/edit
   controller: App\Controller\CollectionController::editFolder   
   
sentence_edit:
   path: /sentenceid/{sentenceid}/edit
   controller: App\Controller\TranslateController::sentenceEdit
   requirements:
        sentenceid: '\d+' 
              
sentence_shiftdown:
   path: /sentenceid/{sentenceid}/shiftdown
   controller: App\Controller\TranslateController::sentenceShiftDown
   requirements:
        sentenceid: '\d+' 
        
tag_names:
   path: /toc/tag/{tagid}/names/list
   controller: App\Controller\TagsController::listTagNames
   requirements:
        tagid: '\d+'

tag_name_edit:  
   path: /toc/tag/name/edit
   controller: App\Controller\TagsController::editTagName

legacy_redirect:
   path: /comments/legacyid/{legacyid}
   controller: App\Controller\CommentsController::legacyRedirect
   requirements:
        legacyid: '\d+'
           
paliword_tags:
   path: /dictionary/paliword/{paliword}/tags
   controller: App\Controller\DictionaryController::listPaliwordTags
   
paliword_tag_remove:
   path: /dictionary/paliword/{paliword}/tag/{tagid}/remove
   controller: App\Controller\DictionaryController::removePaliwordTag
   requirements:
        tagid: '\d+'
        
dictionaryentry_edit:
   path: /dictionary/entry/edit
   controller: App\Controller\DictionaryController::editDictionaryEntry

dictionaryentryuse_edit:
   path: /dictionary/entry/use/edit
   controller: App\Controller\DictionaryController::editDictionaryEntryUse
   
register:
   path: /user/register
   controller: App\Controller\UserController::register
   
userlist:
   path: /user/list
   controller: App\Controller\UserController::list
   
paragraph_analyze:
    path: /p/{id}/analyze
    controller: App\Controller\ViewController::paragraphAnalyze
    requirements:
        id: '\d+'    
    
paragraph_sentence_analyze:
    path: /p/{id}/analyze/sentence/{ordinal}
    controller: App\Controller\ViewController::paragraphSentenceAnalyze
    requirements:
        id: '\d+'  
        ordinal: '\d+'
         
statistics_log:
    path: /statistics/log
    controller: App\Controller\StatisticsController::logRequest
          
statistics_view_agg:
    path: /statistics/view
    controller: App\Controller\StatisticsController::viewStatsAgg

clean_empty_rows:
   path: /node/{nodeid}/clean_empty_rows
   controller: App\Controller\TranslateController::cleanEmptyRows
   requirements:
        nodeid: '\d+' 
                     
comments_list_all:
   path: /comments/list_all/pageid/{pageid}
   controller: App\Controller\CommentsController::listAll
   requirements:
        pageid: '\d+' 

pali_import:
   path: /node/{parentid}/pali_import
   controller: App\Controller\PaliController::import
   requirements:
        nodeid: '\d+'
           
collection_view:
   path: /toc/collections/{collectionid}
   controller: App\Controller\CollectionController::viewCollection
   requirements:   
        collectionid: '\d+'

collection_item_view:
   path: /toc/collections/item/{collectionitemid}
   controller: App\Controller\CollectionController::viewCollectionItem
   requirements:   
        collectionitemid: '\d+'        

redir_dictionary_php:
    path: /dictionary.php
    controller: App\Controller\DictionaryController::dictionaryRedirect

redir_term_php:
    path: /term.php      
    controller: App\Controller\DictionaryController::termRedirect

redir_search_php:
    path: /search.php      
    controller: App\Controller\SearchController::searchRedirect

redir_table_view:
    path: /table_view/node/{id}  
    controller: App\Controller\ViewController::tableRedirect
    
redir_node_pali:
    path: /node/{id}  
    controller: App\Controller\ViewController::nodePaliRedirect    
    requirements:   
        id: '\d+'

mobile_ui:
    path: /mobile 
    controller: App\Controller\DefaultController::setMobile    

collection_view_mobile:
   path: /toc/collections/{collectionid}/mobile
   controller: App\Controller\CollectionController::viewCollectionMobile
   requirements:   
        collectionid: '\d+'

hier_path_toc:
    path: /{hierpath}
    controller: App\Controller\TOCController::fromHierpath
    requirements:        
        hierpath: ^(canon|comm|subcomm|other)(?!.*\/table|.*\/transl|.*\/prologue|.*\/p\/\d+|.*\/s\/\d+).*$ 

hier_path_transl:
    path: /{hierpath}
    controller: App\Controller\ViewController::fromHierpath
    requirements:   
        hierpath: ^(canon|comm|subcomm|other).+(\/table|\/transl|\/p\/\d+|\/prologue)$

hier_path_sentence:
    path: /{hierpath}
    controller: App\Controller\CommentsController::fromHierpath
    requirements:
       hierpath: ^(canon|comm|subcomm|other).+\/s\/.+$				 

#not all redirects could be implemented here.
#some, e.g. index.php?NodeID=X can only be implemented on the web server side

     
    