<div>
{% trans %}Location{% endtrans %}
{% for node in path_nodes %}    
    <a href="{{ path('full_toc_node', {id: node.nodeid}) }}">{{ node.title }}</a>
    {% if not loop.last %}
    &gt;&gt;
    {% endif %}
{% endfor %}
</div>
