<script type="text/javascript" src="{{ asset('scripts.js') }}"></script>
<select id="palichar" onchange="palichar_onchange('{{ searchControlId }}',this)">
<option value=""></option>
<option value="ā">ā</option>
<option value="ī">ī</option>
<option value="ū">ū</option>
<option value="ṭ">ṭ</option>
<option value="ñ">ñ</option>
<option value="ṃ">ṃ</option>
<option value="ṇ">ṇ</option>
<option value="ṅ">ṅ</option>
<option value="ḷ">ḷ</option>
<option value="ḍ">ḍ</option>
</select>