{% if related|length>0 %}
<div>
<br>
    <b>{% trans %}Related texts{% endtrans %}</b><br>
    <ul>
    {% for relatedNode in related %}
    {% set route=relatedNode.TranslationSourceID ? 'translation_view' : (relatedNode.HasTableView ? 'table_view' : 'view_node') %}
    <li><a href="{{ path(route,{id: relatedNode.nodeid}) }}">{{ relatedNode.trname ?? relatedNode.title  }}</a></li>
    {% endfor %}
    </ul>
</div>
{% endif %}
