<table style="width:100%;">
<tr>
<td style="text-align:center;width:25%">
{% set isTranslation= tocPage is defined and tocPage=='translation' %}
{% if not isTranslation %}<a href="{{ path('toc') }}">{% endif %}    	
{% trans %}TranslationToc{% endtrans %}
{% if not isTranslation %}</a>{% endif %}
</td>
<td style="text-align:center;width:25%">
{% set isTags= tocPage is defined and tocPage=='tags' %}
{% if not isTags %}<a href="{{ path('toc_tags_list') }}">{% endif %}    	
{% trans %}Tags{% endtrans %}
{% if not isTags %}</a>{% endif %}
</td>
<td style="text-align:center;width:25%">
{% set isCollections= tocPage is defined and tocPage=='collections' %}
{% if not isCollections %}<a href="{{ path('collections_list') }}">{% endif %}    	
{% trans %}Collections{% endtrans %}
{% if not isCollections %}</a>{% endif %}
</td>
<td style="text-align:center;width:25%">
{% set isFull= tocPage is defined and tocPage=='full' %}
{% if not isFull %}<a href="{{ path('full_toc') }}">{% endif %}    	
{% trans %}FullToc{% endtrans %}
{% if not isFull %}</a>{% endif %}
</td>
</tr>
</table>